# Go build
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
vendor/

# VS Code
.vscode/

# Environment files
.env

# Python venv (if present)
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# ngrok
ngrok*
ticketune-db.sqlite3
